<div class="gainsboro" fxLayout="row wrap">
  <span *ngFor="let element of elementAdded;let i = index;">
    <div class="element" [class.readonly]="!edit">
      <span class="element-content">{{element.label}}</span>
      <mat-icon *ngIf="edit" (click)="remove(i)">remove_circle_outline</mat-icon>
    </div>
  </span>
  <div [contentEditable]="edit ? 'true' : 'false' " #editable class="editable" fxFlex></div>
</div>
<ul class="list-group" *ngIf="isSuggested" fxLayout="column" fxLayoutAlign=" start" >
  <li class="list-group-item"><a (click)="addSuggested()" class="blue">ajouter {{suggestAddValue}}</a></li>
  <li class="list-group-item" *ngFor="let element of elementWaitingToAdd;let i = index;">
    <div class="element">
      <span class="element-content">{{element.label}}</span>
      <mat-icon (click)="add(i)">add_circle_outline</mat-icon>
    </div>
  </li>
</ul>
