.btn {
  width : 10em;
  height: 2.3em;
  font-size: 18px;
  font-weight: bold;
}
.btn-normal {
  background-color: #70a6fd;
  color: white;
}
.ml {
  margin-left: 1em;
}

textarea:focus, input:focus {
  outline: none;
}

input {
  font-size:22px;
  size: 24px;
}
