.btn {
  width : 10em;
  height: 2.3em;
  font-size: 18px;
  font-weight: bold;
}
.btn-normal {
  background-color: #70a6fd;
  color: white;
}
.ml {
  margin-left: 1em;
}

textarea:focus, input:focus {
  outline: none;
}

.icon {
  height : 21px;
}

.green {
  background-color: lightgreen;
  position: absolute;
  top:0;
  width: 100%;
  bottom: 0;
}

.place {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
