<div>
  <h1>Changer le mot de passe</h1>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-auto">
      <label class="form-label">Ancien mot de passe</label>
      <input class="form-control" formControlName="oldPassword"/>
    </div>
    <div class="form-group col-auto">
      <label class="form-label">Nouveau mot de passe</label>
      <input class="form-control" formControlName="newPassword"/>
    </div>
    <div class="form-group col-auto">
      <label class="form-label">Confirmer le nouveau mot de passe</label>
      <input class="form-control" formControlName="newPasswordConfirm"/>
    </div>
    <div class="form-group col-auto">
      <button [disabled]="disabled()" type="submit" class="btn-normal">Valider</button>
    </div>
  </form>
</div>
